* @giantswarm/team-atlas
/helm/prometheus-rules/templates/kaas/bigmac/ @team-bigmac
/helm/prometheus-rules/templates/kaas/phoenix/ @team-phoenix
/helm/prometheus-rules/templates/kaas/rocket/ @team-rocket
/helm/prometheus-rules/templates/kaas/turtles/ @team-turtles
/helm/prometheus-rules/templates/platform/atlas/ @team-atlas
/helm/prometheus-rules/templates/platform/cabbage/ @team-cabbage
/helm/prometheus-rules/templates/platform/honeybadger/ @team-honeybadger
/helm/prometheus-rules/templates/platform/shield/ @team-shield
