apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: general.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: general
    rules:
    - alert: ShieldComponentRestartingTooOften
      annotations:
        description: '{{`Pod {{ $labels.namespace }}/{{ $labels.pod }} is restarting too often.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/shield-pod-failing/
      expr: increase(kube_pod_container_status_restarts_total{cluster_type="workload_cluster", pod=~"trivy-.*|kyverno-.*|falco-*|"}[1h]) > 5
      for: 30m
      labels:
        area: platform
        cancel_if_outside_working_hours: {{ include "workingHoursOnly" . }}
        severity: notify
        team: shield
        topic: security
