apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: logging-pipeline.rules
  namespace: {{ .Values.namespace }}
spec:
  groups:
    - name: logging-pipeline
      rules:
        # Any alloy component that uses the loki.write component can throw such errors.
        - alert: LogForwardingErrors
          annotations:
            __dashboardUid__: 53c1ecddc3a1d5d4b8d6cd0c23676c31
            dashboardQueryParams: "orgId=2"
            description: '{{`{{ $value | printf "%.2f" }}% of the requests to Loki are failing for pod {{ $labels.pod }} (threshold 10%)`}}'
            runbook_url: '{{`https://intranet.giantswarm.io/docs/support-and-ops/runbooks/logging-pipeline/?INSTALLATION={{ $labels.installation }}&CLUSTER={{ $labels.cluster_id }}`}}'
          expr: |-
            (
              100
              *
                (
                    (
                      sum by (cluster_id, installation, provider, pipeline, namespace, job, instance, pod) (
                        rate (
                          loki_write_request_duration_seconds_count{status_code!~"2.."}[5m:]
                        )
                      )
                    )
                  /
                    (
                      sum by (cluster_id, installation, provider, pipeline, namespace, job, instance, pod) (
                        rate (
                          loki_write_request_duration_seconds_count[5m:]
                        )
                      )
                    )
                )
            )
            > 10
          for: 15m
          labels:
            area: platform
            severity: page
            team: atlas
            topic: observability
            cancel_if_outside_working_hours: "true"
