apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: monitoring-pipeline.rules
  namespace: {{ .Values.namespace }}
spec:
  groups:
  - name: monitoring-pipeline
    rules:
    - alert: MetricForwardingErrors
      annotations:
        summary: Monitoring agent fails to send samples to remote storage.
        description: '{{`Monitoring agent failed to send {{ printf "%.1f" $value }}% of the samples to {{ $labels.remote_name}}:{{ $labels.url }}.`}}'
        runbook_url: '{{`https://intranet.giantswarm.io/docs/support-and-ops/runbooks/monitoring-pipeline/?INSTALLATION={{ $labels.installation }}&CLUSTER={{ $labels.cluster_id }}`}}'
        __dashboardUid__: promRW001
        dashboardQueryParams: "orgId=1"
      expr: |-
        (
          rate(prometheus_remote_storage_samples_failed_total[5m])
          /
          (
            rate(prometheus_remote_storage_samples_failed_total[5m])
            +
            rate(prometheus_remote_storage_samples_total[5m])
          )
        ) * 100
        > 10
      for: 1h
      labels:
        area: platform
        cancel_if_outside_working_hours: "true"
        severity: page
        team: atlas
        topic: observability
    - alert: JobScrapingFailure
      annotations:
        __dashboardUid__: alloy-metrics-targets
        dashboardQueryParams: "orgId=1"
        summary: Monitoring agent failed to scrape all targets for an app / job.
        description: '{{`No targets are reachable for {{$labels.app}} by monitoring agent on cluster {{$labels.installation}}/{{$labels.cluster_id}} (job: {{$labels.job}})`}}'
        runbook_url: '{{`https://intranet.giantswarm.io/docs/support-and-ops/runbooks/job-scraping-failure/?INSTALLATION={{ $labels.installation }}&CLUSTER={{ $labels.cluster_id }}`}}'
      # This alert fires when 100% of an application targets are down (complete service outage).
      expr: aggregation:giantswarm:jobscrapingfailures >= 1
      for: 1h
      labels:
        area: platform
        severity: notify
        topic: observability
        cancel_if_outside_working_hours: "true"
