# TODO(@giantswarm/team-atlas): revisit once vintage is gone
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: prometheus.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: prometheus
    rules:
    - alert: PrometheusCantCommunicateWithKubernetesAPI
      annotations:
        description: '{{`Prometheus can''t communicate with Kubernetes API.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/prometheus-cant-communicate/
      expr: rate(prometheus_sd_kubernetes_http_request_total{job!="promxy-app", status_code="<error>"}[15m]) > 0.25
      for: 30m
      labels:
        area: platform
        cancel_if_any_cluster_control_plane_unhealthy: "true"
        cancel_if_cluster_has_no_workers: "true"
        cancel_if_outside_working_hours: {{ include "workingHoursOnly" . }}
        severity: page
        team: atlas
        topic: observability
    - alert: PrometheusRuleFailures
      annotations:
        description: {{`Prometheus {{$labels.installation}}/{{$labels.cluster_id}} has failed to evaluate rule(s) {{ printf "%.2f" $value }} time(s).`}}
        summary: Prometheus is failing rule evaluations.
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/prometheus-rule-failures/
      expr: rate(prometheus_rule_evaluation_failures_total[5m]) > 0
      for: 1h
      labels:
        area: platform
        severity: page
        team: atlas
        topic: observability
        cancel_if_outside_working_hours: "true"
