apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: prometheus-agent.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: prometheus-agent
    rules:
    {{- if eq .Values.managementCluster.provider.flavor "vintage" }}
    ## This alert pages if prometheus-agent fails to send samples to its remote write endpoint.
    - alert: PrometheusAgentFailing
      annotations:
        description: '{{`Prometheus agent remote write is failing.`}}'
        summary: Prometheus agent fails to send samples to remote write endpoint.
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/prometheus-agent/
        __dashboardUid__: promRW001
        {{ if eq .Values.managementCluster.provider.flavor "capi" }}
        dashboardQueryParams: "orgId=1"
        {{ end }}
      expr: |-
        max_over_time(
          sum by (cluster_type, cluster_id, installation, instance, service)
          (
            up{instance="prometheus-agent"} == 0
            or
            absent(up{instance="prometheus-agent"}) == 1
          )[5m:]
        )
      for: 20m
      labels:
        area: platform
        severity: page
        team: atlas
        topic: observability
        inhibit_monitoring_agent_down: "true"
        cancel_if_cluster_has_no_workers: "true"
    ## Same as PrometheusAgentFailing, but triggers inhibition earlier and does not page.
    - alert: InhibitionPrometheusAgentFailing
      annotations:
        description: '{{`Prometheus agent remote write is failing.`}}'
        summary: Prometheus agent fails to send samples to remote write endpoint.
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/prometheus-agent/
        __dashboardUid__: promRW001
        {{ if eq .Values.managementCluster.provider.flavor "capi" }}
        dashboardQueryParams: "orgId=1"
        {{ end }}
      expr: |-
        max_over_time(
          sum by (cluster_type, cluster_id, installation, instance, service)
          (
            up{instance="prometheus-agent"} == 0
            or
            absent(up{instance="prometheus-agent"}) == 1
          )[5m:]
        )
      for: 2m
      labels:
        area: platform
        severity: none
        team: atlas
        topic: observability
        inhibit_monitoring_agent_down: "true"
    {{- end }}
    ## This alert pages if one of the prometheus-agent shard is not running.
    - alert: PrometheusAgentShardsMissing
      annotations:
        description: '{{`Prometheus agent is missing shards.`}}'
        summary: Prometheus agent is missing shards.
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/prometheus-agent/
      expr: |-
        max_over_time(sum by (cluster_id, installation, provider, pipeline)(
          count(
            ## number of remotes that are not mimir or grafana-cloud
            prometheus_remote_storage_metadata_total{remote_name!~"grafana-cloud|mimir.*"}
          ) by (cluster_id, installation, provider, pipeline)
          !=
          sum(
            ## number of shards defined in the Prometheus CR
            prometheus_operator_spec_shards{controller="prometheus",name="prometheus-agent"}
            # if there is only 1 shard, there is no shard metric so we use the replicas metric
            or prometheus_operator_spec_replicas{controller="prometheus",name="prometheus-agent"}
          ) by (cluster_id, installation, provider, pipeline)
        )[5m:])
      for: 40m
      labels:
        area: platform
        severity: page
        team: atlas
        topic: observability
        inhibit_monitoring_agent_down: "true"
        cancel_if_outside_working_hours: "true"
    ## Same as PrometheusAgentShardsMissing but triggers inhibition earlier, and does not page.
    - alert: InhibitionPrometheusAgentShardsMissing
      annotations:
        description: '{{`Prometheus agent is missing shards.`}}'
        summary: Prometheus agent is missing shards.
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/prometheus-agent/
      expr: |-
        max_over_time(sum by (cluster_id, installation, provider, pipeline)(
          count(
            ## number of remotes that are not mimir or grafana-cloud
            prometheus_remote_storage_metadata_total{remote_name!~"grafana-cloud|mimir.*"}
          ) by (cluster_id, installation, provider, pipeline)
          !=
          sum(
            ## number of shards defined in the Prometheus CR
            prometheus_operator_spec_shards{controller="prometheus",name="prometheus-agent"}
            # if there is only 1 shard, there is no shard metric so we use the replicas metric
            or prometheus_operator_spec_replicas{controller="prometheus",name="prometheus-agent"}
          ) by (cluster_id, installation, provider, pipeline)
        )[5m:])
      for: 2m
      labels:
        area: platform
        severity: none
        team: atlas
        topic: observability
        inhibit_monitoring_agent_down: "true"
        cancel_if_outside_working_hours: "true"
