apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: sloth.rules
  namespace: {{ .Values.namespace }}
spec:
  groups:
  - name: sloth
    rules:
    - alert: SlothDown
      annotations:
        description: 'Sloth is down.'
        runbook_url: '{{`https://intranet.giantswarm.io/docs/support-and-ops/runbooks/sloth-down/?INSTALLATION={{ $labels.installation }}&CLUSTER={{ $labels.cluster_id }}`}}'
      expr: count(up{job="monitoring/sloth"} == 0) by (cluster_id, installation, provider, pipeline) > 0
      for: 5m
      labels:
        area: platform
        cancel_if_cluster_control_plane_unhealthy: "true"
        cancel_if_outside_working_hours: "true"
        severity: page
        team: atlas
        topic: observability
    # Coming from https://github.com/giantswarm/giantswarm/issues/31133
    # This alert ensures sloth container are not restarting too often (flappiness).
    - alert: SlothRestartingTooOften
      annotations:
        description: '{{`Sloth is restarting too often.`}}'
        runbook_url: '{{`https://intranet.giantswarm.io/docs/support-and-ops/runbooks/sloth-down/?INSTALLATION={{ $labels.installation }}&CLUSTER={{ $labels.cluster_id }}`}}'
      expr: |
        increase(
          kube_pod_container_status_restarts_total{cluster_type="management_cluster", namespace="monitoring", container="sloth"}[1h]
        ) > 5
      for: 5m
      labels:
        area: platform
        cancel_if_cluster_control_plane_unhealthy: "true"
        cancel_if_outside_working_hours: "true"
        severity: page
        team: atlas
        topic: observability
