apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: aws-load-balancer-controller.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: aws-load-balancer-controller
    rules:
    - alert: AWSLoadBalancerControllerAWSAPIErrors
      annotations:
        description: '{{`AWS load balancer controller pod {{ $labels.namespace}}/{{ $labels.pod }} on {{ $labels.cluster_id}} is throwing {{ $labels.error_code }} errors when contacting AWS API.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/runbooks/alb-errors/
      expr: sum(increase(aws_api_calls_total{cluster_type="workload_cluster", error_code != "", provider=~"capa|eks"}[20m])) by (cluster_id, error_code, installation, namespace, pipeline, provider, pod) > 0
      for: 40m
      labels:
        area: kaas
        cancel_if_outside_working_hours: {{ include "workingHoursOnly" . }}
        severity: page
        team: phoenix
        topic: alb
    - alert: AWSLoadBalancerControllerReconcileErrors
      annotations:
        description: '{{`AWS load balancer controller pod {{ $labels.namespace }}/{{ $labels.pod }} on {{ $labels.cluster_id }} is throwing errors while reconciling the {{ $labels.controller }} controller.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/runbooks/alb-errors/
      expr: sum(increase(controller_runtime_reconcile_total{cluster_type="workload_cluster", provider=~"capa|eks", result = "error", service="aws-load-balancer-controller"}[20m])) by (cluster_id, controller, installation, namespace, pipeline, provider, pod) > 0
      for: 40m
      labels:
        area: kaas
        cancel_if_outside_working_hours: {{ include "workingHoursOnly" . }}
        severity: page
        team: phoenix
        topic: alb
