apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: cluster-crossplane.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: cluster-crossplane
    rules:
    - alert: ClusterCrossplaneResourcesNotReady
      annotations:
        # Crossplane doesn't offer object names and the objects are stored on the MC, so right
        # now (2025-01), we can't make this alert WC-specific.
        description: '{{`Not all managed Crossplane resources of type "{{ $labels.gvk }}" on {{ $labels.cluster_id }} are ready. This could affect creation or health of workload clusters.`}}'
        runbook_url: '{{`https://intranet.giantswarm.io/docs/support-and-ops/runbooks/cluster-crossplane-resources/?INSTALLATION={{ $labels.installation }}&CLUSTER={{ $labels.cluster_id }}`}}'
      # Match critical resources deployed by cluster-aws via aws-nth-crossplane-resources,
      # cilium-crossplane-resources, crossplane-fn-irsa, ...
      expr: |
        (
        crossplane_managed_resource_exists{gvk=~"(iam.aws.upbound.io/.*, Kind=(Role|RolePolicy|Policy)|sqs.aws.upbound.io/.*, Kind=Queue|sqs.aws.upbound.io/.*, Kind=QueuePolicy|cloudwatchevents.aws.upbound.io/.*, Kind=Rule|cloudwatchevents.aws.upbound.io/.*, Kind=Target|ec2.aws.upbound.io/.*, Kind=SecurityGroup|acm.aws.upbound.io/.*, Kind=Certificate|cloudfront.aws.upbound.io/.*, Kind=.+|iam.aws.upbound.io/.*, Kind=OpenIDConnectProvider|route53.aws.upbound.io/.*, Kind=Record|s3.aws.upbound.io/.*, Kind=Bucket.*)"} != crossplane_managed_resource_ready{gvk=~"(iam.aws.upbound.io/.*, Kind=(Role|RolePolicy|Policy)|sqs.aws.upbound.io/.*, Kind=Queue|sqs.aws.upbound.io/.*, Kind=QueuePolicy|cloudwatchevents.aws.upbound.io/.*, Kind=Rule|cloudwatchevents.aws.upbound.io/.*, Kind=Target|ec2.aws.upbound.io/.*, Kind=SecurityGroup|acm.aws.upbound.io/.*, Kind=Certificate|cloudfront.aws.upbound.io/.*, Kind=.+|iam.aws.upbound.io/.*, Kind=OpenIDConnectProvider|route53.aws.upbound.io/.*, Kind=Record|s3.aws.upbound.io/.*, Kind=Bucket.*)"}
        ) OR
        iam_aws_upbound_role_ready{status="False", label_giantswarm_io_service_type="managed"} == 1 OR
        sqs_aws_upbound_queue_ready{status="False", label_giantswarm_io_service_type="managed"} == 1 OR
        sqs_aws_upbound_queuepolicy_ready{status="False", label_giantswarm_io_service_type="managed"} == 1 OR
        cloudwatchevents_aws_upbound_rule_ready{status="False", label_giantswarm_io_service_type="managed"} == 1 OR
        cloudwatchevents_aws_upbound_target_ready{status="False", label_giantswarm_io_service_type="managed"} == 1 OR
        ec2_aws_upbound_securitygroup_ready{status="False", label_giantswarm_io_service_type="managed"} == 1
      for: 15m
      labels:
        area: kaas
        cancel_if_outside_working_hours: {{ include "workingHoursOnly" . }}
        severity: page
        team: phoenix
