apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: irsa.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: irsa-crossplane
    rules:
    - alert: IRSAClaimNotReady
      annotations:
        description: '{{`IRSAClaim {{ $labels.name }} in Cluster {{ $labels.installation }} is not ready.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/irsaclaim-not-ready/
      expr: irsaclaim_status_conditions{type="Ready", status="False"} > 0
      for: 30m
      labels:
        area: kaas
        cancel_if_kube_state_metrics_down: "true"
        cancel_if_outside_working_hours: "true"
        severity: page
        team: phoenix
        topic: aws
