version: 2.1
orbs:
  architect: giantswarm/architect@6.8.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: app-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: prometheus-rules
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-collection:
        context: architect
        name: push-to-capa-app-collection
        app_name: prometheus-rules
        app_namespace: monitoring
        app_collection_repo: capa-app-collection
        requires:
        - app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

    - architect/push-to-app-collection:
        context: architect
        name: push-to-capz-app-collection
        app_name: prometheus-rules
        app_namespace: monitoring
        app_collection_repo: capz-app-collection
        requires:
        - app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

    - architect/push-to-app-collection:
        context: architect
        name: push-to-cloud-director-app-collection
        app_name: prometheus-rules
        app_namespace: monitoring
        app_collection_repo: cloud-director-app-collection
        requires:
        - app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

    - architect/push-to-app-collection:
        context: architect
        name: vsphere-app-collection
        app_name: prometheus-rules
        app_namespace: monitoring
        app_collection_repo: vsphere-app-collection
        requires:
        - app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/

    - architect/push-to-app-collection:
        context: architect
        name: proxmox-app-collection
        app_name: prometheus-rules
        app_namespace: monitoring
        app_collection_repo: proxmox-app-collection
        requires:
        - app-catalog
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /^v.*/
