apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: secret.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: secret
    rules:
    - alert: HelmHistorySecretCountTooHigh
      annotations:
        description: '{{`Helm release Secret count too high.`}}'
      expr: sum(kube_secret_info{namespace=~"giantswarm|kube-system|monitoring", secret=~"sh.helm.+"}) by (cluster_id, installation, pipeline, provider) > 1000
      for: 15m
      labels:
        area: platform
        cancel_if_outside_working_hours: {{ include "workingHoursOnly" . }}
        severity: notify
        team: honeybadger
        topic: releng
