apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    {{- include "labels.common" . | nindent 4 }}
    {{- if eq .Values.managementCluster.provider.flavor "vintage" }}
    cluster_type: "workload_cluster"
    {{- end }}
  name: external-dns.rules
  namespace: {{ .Values.namespace }}
spec:
  groups:
  - name: external-dns
    rules:
    - alert: ExternalDNSCantAccessRegistry
      annotations:
        description: '{{`external-dns in namespace {{ $labels.namespace }}) can''t access registry (cloud service provider DNS service).`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/external-dns-cant-access-registry/
      expr: rate(external_dns_registry_errors_total{provider=~"aws|capa|capz|eks"}[2m]) > 0
      for: 15m
      labels:
        area: platform
        cancel_if_outside_working_hours: {{ include "workingHoursOnly" . }}
        severity: page
        team: cabbage
        topic: external-dns
    - alert: ExternalDNSCantAccessSource
      annotations:
        description: '{{`external-dns in namespace {{ $labels.namespace }}) can''t access source (Service or Ingress resource).`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/external-dns-cant-access-source/
      expr: rate(external_dns_source_errors_total{provider=~"aws|capa|capz|eks"}[2m]) > 0
      for: 15m
      labels:
        area: platform
        cancel_if_outside_working_hours: {{ include "workingHoursOnly" . }}
        severity: page
        team: cabbage
        topic: external-dns
    - alert: ExternalDNSDown
      annotations:
        description: '{{`external-dns in namespace {{ $labels.namespace }}) is down.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/external-dns-down/
      expr: label_replace(up{container="external-dns", provider=~"aws|capa|capz|eks"}, "ip", "$1.$2.$3.$4", "node", "ip-(\\d+)-(\\d+)-(\\d+)-(\\d+).*") == 0
      for: 15m
      labels:
        area: platform
        cancel_if_outside_working_hours: "true"
        cancel_if_kubelet_down: "true"
        severity: page
        team: cabbage
        topic: external-dns
