apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    {{- include "labels.common" . | nindent 4 }}
    {{- if eq .Values.managementCluster.provider.flavor "vintage" }}
    cluster_type: "management_cluster"
    {{- end }}
  name: apiserver.management-cluster.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: apiserver
    rules:
    - alert: ManagementClusterAPIServerAdmissionWebhookErrors
      annotations:
        description: '{{`Kubernetes API Server {{ $labels.cluster_id }} having admission webhook errors.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/apiserver-admission-webhook-errors/
      expr: label_replace(rate(apiserver_admission_webhook_rejection_count{cluster_type="management_cluster", error_type=~"calling_webhook_error|apiserver_internal_error"}[5m]), "service", "$1", "name", "(.*)") > 1
      for: 15m
      labels:
        area: kaas
        cancel_if_outside_working_hours: {{ include "workingHoursOnly" . }}
        severity: page
        team: tenet
        topic: managementcluster
    - alert: ManagementClusterWebhookDurationExceedsTimeout
      annotations:
        description: '{{`Kubernetes API Server admission webhook {{ $labels.name }} is timing out.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/apiserver-admission-webhook-errors/
      expr: histogram_quantile(0.95, sum(rate(apiserver_admission_webhook_admission_duration_seconds_bucket{cluster_type="management_cluster"}[5m])) by (cluster_id, installation, pipeline, provider, name, job, le)) > 5
      for: 25m
      labels:
        area: kaas
        cancel_if_outside_working_hours: {{ include "workingHoursOnly" . }}
        severity: page
        team: tenet
        topic: managementcluster
