apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: certificate.management-cluster.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: certificate.management-cluster
    rules:
    - alert: ManagementClusterCertificateIsMissing
      annotations:
        description: '{{`Cannot renew Certificate for Secret {{ $labels.exported_namespace }}/{{ $labels.certificatename }} on {{ $labels.cluster_id }} because it is missing.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/managed-app-cert-manager/missing-certificate-for-secret/
      expr: |
        count(
          cert_exporter_secret_not_after{cluster_type="management_cluster", secretkey="tls.crt", certificatename=~"^capa-serving-cert$|^capi-serving-cert$|^capi-kubeadm-bootstrap-serving-cert$|^capi-kubeadm-control-plane-serving-cert$|^capv-serving-cert$|^capmox-serving-cert$|^caip-in-cluster-serving-cert$|^capvcd-serving-cert$|^capz-serving-cert$|^azureserviceoperator-serving-cert$|^aws-pod-identity-webhook$"}
        ) by (cluster_id, installation, pipeline, provider, certificatename, exported_namespace)
        unless 
        count(
          label_replace(
            cert_exporter_certificate_cr_not_after{cluster_type="management_cluster", name=~"^capa-serving-cert$|^capi-serving-cert$|^capi-kubeadm-bootstrap-serving-cert$|^capi-kubeadm-control-plane-serving-cert$|^capv-serving-cert$|^capmox-serving-cert$|^caip-in-cluster-serving-cert$|^capvcd-serving-cert$|^capz-serving-cert$|^azureserviceoperator-serving-cert$|^aws-pod-identity-webhook$"}, 
            "certificatename", 
            "$1", 
            "name", 
            "(.*)"
          )
        ) by (cluster_id, installation, pipeline, provider, certificatename, exported_namespace)
      for: 5m
      labels:
        area: kaas
        cancel_if_outside_working_hours: "true"
        severity: page
        team: {{ include "providerTeam" . }}
        topic: security
    - alert: ManagementClusterCertificateWillExpireInLessThanOneMonth
      annotations:
        description: '{{`Certificate {{ $labels.path }} on {{ $labels.node }} will expire in less than one month.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/renew-certificates/
      expr: (cert_exporter_not_after{cluster_type="management_cluster", path!="/etc/kubernetes/ssl/service-account-crt.pem"} - time()) < 4 * 7 * 24 * 60 * 60
      for: 5m
      labels:
        area: kaas
        cancel_if_outside_working_hours: "true"
        severity: page
        team: se
        topic: security
