apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: certificate.all.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: certificate.all
    rules:
    - alert: IRSACertificateSecretWillExpireInLessThanTwoWeeks
      annotations:
        description: '{{`IRSA Pod Identity Webhook Certificate stored in Secret {{ $labels.exported_namespace }}/{{ $labels.name }} on {{ $labels.cluster_id }} will expire in less than two weeks.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/managed-app-cert-manager/certificate-secret-will-expire-in-less-than-two-weeks/
      expr: (cert_exporter_secret_not_after{name=~"aws-pod-identity-webhook.*"} - time()) < 13 * 24 * 60 * 60
      for: 5m
      labels:
        area: kaas
        cancel_if_outside_working_hours: "true"
        severity: page
        team: phoenix
        topic: cert-manager
    - alert: KyvernoCertificateSecretWillExpireInLessThanTwoDays
      annotations:
        description: '{{`Kyverno Certificate stored in Secret {{ $labels.exported_namespace }}/{{ $labels.name }} on {{ $labels.cluster_id }} will expire in less than two days.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/kyverno-certificate-secret-will-expire-in-less-than-two-days/?cluster_id={{ $labels.cluster_id }}
      expr: (cert_exporter_secret_not_after{name=~".*kyverno.*"} - time()) < 2 * 24 * 60 * 60
      labels:
        area: platform
        cancel_if_outside_working_hours: "true"
        severity: notify
        team: shield
        topic: kyverno
    - alert: CertificateSecretWillExpireInLessThanTwoWeeks
      annotations:
        description: '{{`Certificate stored in Secret {{ $labels.exported_namespace }}/{{ $labels.name }} on {{ $labels.cluster_id }} will expire in less than two weeks.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/managed-app-cert-manager/certificate-secret-will-expire-in-less-than-two-weeks/
      expr: (cert_exporter_secret_not_after{name!~"kiam.*|.*kyverno.*",cluster_type="management_cluster"} - time()) < 13 * 24 * 60 * 60
      labels:
        area: kaas
        cancel_if_outside_working_hours: "true"
        severity: page
        team: {{ include "providerTeam" . }}
        topic: cert-manager
    - alert: GiantswarmManagedCertificateCRWillExpireInLessThanTwoWeeks
      annotations:
        description: '{{`Certificate CR {{ $labels.exported_namespace }}/{{ $labels.name }} on {{ $labels.cluster_id }} will expire in less than two weeks.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/managed-app-cert-manager/certificate-secret-will-expire-in-less-than-two-weeks/
      expr: (cert_exporter_certificate_cr_not_after{managed_issuer="true",exported_namespace=~"kube-system|giantswarm|monitoring"} - time()) < 13 * 24 * 60 * 60
      labels:
        area: kaas
        cancel_if_outside_working_hours: "true"
        severity: page
        team: {{ include "providerTeam" . }}
        topic: cert-manager
    - alert: CustomerManagedCertificateCRWillExpireInLessThanTwoWeeks
      annotations:
        description: '{{`Certificate CR {{ $labels.exported_namespace }}/{{ $labels.name }} on {{ $labels.cluster_id }} will expire in less than two weeks.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/managed-app-cert-manager/certificate-secret-will-expire-in-less-than-two-weeks/
      expr: (cert_exporter_certificate_cr_not_after{managed_issuer="true",cluster_type="workload_cluster",exported_namespace!~"kube-system|giantswarm|monitoring"} - time()) < 13 * 24 * 60 * 60
      labels:
        area: kaas
        cancel_if_outside_working_hours: "true"
        severity: page
        team: se
        topic: cert-manager
