apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    {{- include "labels.common" . | nindent 4 }}
    {{- if eq .Values.managementCluster.provider.flavor "vintage" }}
    cluster_type: "management_cluster"
    {{- end }}
  name: etcdbackup.rules
  namespace: {{ .Values.namespace  }}
spec:
  groups:
  - name: etcdbackup
    rules:
    - alert: ETCDBackupJobFailedOrStuck
      annotations:
        description: '{{`Job {{ $labels.job }} failed or has not been completed for more than 30 minutes.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/etcd-backup-failed/
      expr: kube_job_failed{cluster_type="management_cluster",condition="true",job=~"etcd-backup.+"} == 1 or kube_pod_status_phase{cluster_type="management_cluster",phase="Pending",pod=~"etcd-backup.+"} == 1 or kube_job_status_succeeded{cluster_type="management_cluster",job=~"etcd-backup.+"} == 0
      for: 30m
      labels:
        area: kaas
        cancel_if_outside_working_hours: "true"
        severity: page
        team: tenet
        topic: etcd-backup
    - alert: LatestETCDBackup2DaysOld
      annotations:
        description: '{{`Latest successful ETCD backup for {{ $labels.cluster_id }}/{{ $labels.tenant_cluster_id }} was more than 48h ago.`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/etcd-backup-failed/
      {{- if eq .Values.managementCluster.provider.flavor "capi" }}
      expr: count(label_replace(capi_cluster_created, "tenant_cluster_id", "$1", "name", "(.*)")) by (cluster_id, installation, pipeline, provider, tenant_cluster_id)  > 48 * 60 * 60 unless count((time() - etcd_backup_latest_success{tenant_cluster_id!="Control Plane"}) > 48 * 60 * 60) by (cluster_id, installation, pipeline, provider, tenant_cluster_id)
      {{- else }}
      expr: (time() - etcd_backup_latest_success{tenant_cluster_id!="Control Plane"}) > 48 * 60 * 60
      {{- end }}
      for: 5m
      labels:
        area: kaas
        cancel_if_outside_working_hours: "true"
        severity: page
        team: tenet
        topic: etcd-backup
    - alert: ETCDBackupMetricsMissing
      annotations:
        description: '{{`ETCD backup metrics are missing`}}'
        runbook_url: https://intranet.giantswarm.io/docs/support-and-ops/ops-recipes/etcd-backup-metrics-missing/
      expr: absent(etcd_backup_latest_attempt{cluster_type="management_cluster", cluster_id="{{ .Values.managementCluster.name }}", installation="{{ .Values.managementCluster.name }}", provider="{{ .Values.managementCluster.provider.kind }}", pipeline="{{ .Values.managementCluster.pipeline }}"})
      for: 12h
      labels:
        area: kaas
        cancel_if_outside_working_hours: "true"
        severity: page
        team: tenet
        topic: etcd-backup
