## Cabbage is the only user of those recording rules
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: gs-managed-app-deployment-status.recording.rules
  namespace: {{ .Values.namespace }}
spec:
  groups:
  - name: gs-managed-app-deployments.recording
    rules:
    - expr: |
        label_replace(
            kube_deployment_status_replicas_available
          * on (cluster_id, cluster_type, pod, namespace, deployment) group_left (label_app_kubernetes_io_name)
            kube_deployment_labels{label_giantswarm_io_service_type="managed"},
          "managed_app",
          "$1",
          "label_app_kubernetes_io_name",
          "(.*)"
        )
      record: managed_app_deployment_status_replicas_available
    - expr: |
        label_replace(
            kube_deployment_status_replicas_unavailable
          * on (cluster_id, cluster_type, pod, namespace, deployment) group_left (label_app_kubernetes_io_name)
            kube_deployment_labels{label_giantswarm_io_service_type="managed"},
          "managed_app",
          "$1",
          "label_app_kubernetes_io_name",
          "(.*)"
        )
      record: managed_app_deployment_status_replicas_unavailable
    - expr: |
        label_replace(
            kube_deployment_spec_replicas
          * on (pod, namespace, deployment) group_left (label_app_kubernetes_io_name)
            kube_deployment_labels{label_giantswarm_io_service_type="managed"},
          "managed_app",
          "$1",
          "label_app_kubernetes_io_name",
          "(.*)"
        )
      record: managed_app_deployment_spec_replicas
    - expr: |
        kube_deployment_status_replicas_available
          * on (cluster_id, cluster_type, pod, namespace, deployment) group_left ()
            kube_deployment_labels{namespace="envoy-gateway-system", label_app_kubernetes_io_component="proxy", label_app_kubernetes_io_name="envoy"}
      record: envoy_proxy_deployment_status_replicas_available
    - expr: |
        kube_deployment_status_replicas_unavailable
          * on (cluster_id, cluster_type, pod, namespace, deployment) group_left ()
            kube_deployment_labels{namespace="envoy-gateway-system", label_app_kubernetes_io_component="proxy", label_app_kubernetes_io_name="envoy"}
      record: envoy_proxy_deployment_status_replicas_unavailable
