name: alert-test
run-name: run unit and conformance tests

on:
  pull_request:
    # Only run on PRs based on the main branch
    branches:
      - main

jobs:
  rules-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: "0"
      - name: run rules tests
        run: make test-rules
  inhibition-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: "0"
      - name: run inhibition tests
        run: make test-inhibitions
  runbook-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: "0"
      - name: Clone intranet repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          repository: giantswarm/giantswarm
          path: giantswarm
          token: ${{ secrets.TAYLORBOT_GITHUB_ACTION }}
      - name: run runbook tests
        env:
          RUNBOOKS_DIR: ./giantswarm
        run: make test-ci-runbooks
  prometheus-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: "0"
      - name: run pint linter
        run: make pint
